<link type="text/css" rel="stylesheet" href="assets/css/lightslider.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="assets/js/lightslider.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#lightSlider').lightSlider({
    mode: "fade",
    loop: true,
    auto: true,
    item: 5,
    speed: 800, //ms'
    pause: 5000,
    slideEndAnimation: true,
    slideMargin: false,
    useCSS: false,
    cssEasing: 'ease', //'cubic-bezier(0.25, 0, 0.25, 1)',//
    easing: 'linear', //'for jquery animation',////
    pager: false,
    controls: false,
    });
});
</script>
