---
---

@import "{{ site.theme }}";
img {
  position: relative;
  vertical-align: middle;
  margin: 0 auto;
  max-width: 739px;
  padding: 0px;
  margin: 0px;
  border: 0px solid #ffffff;
  box-shadow: 0 0 0px #ffffff;
  -webkit-box-shadow: 0 0 0px #ffffff;
  -moz-box-shadow: 0 0 0px #ffffff;
  -o-box-shadow: 0 0 0px #ffffff;
  -ms-box-shadow: 0 0 0px #ffffff;
}
.menu {
  position: relative;
  margin: 0 auto;
  top: 0px;
  text-align: center;
  font-weight: bold;
  font-size: 100%;
}
.menu a {
-webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-user-drag: none;
  align-items: center;
  backface-visibility: hidden;
  background-color: #5e00c6;
  background-image: none;
  border: 2px solid #5e00c6;
  border-radius: 8px;
  box-shadow: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  font-family: Overpass,sans-serif;
  font-size: 15px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: 0;
  line-height: 1;
  padding: 11px 26px;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: color .5s, box-shadow undefined, background undefined, border-color undefined undefined undefined;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  margin-bottom: 5px;
}
.menu a:hover {
    background-color: #f0f0f0;
    color: #000000;
}
#logo img {
    max-width: 640px;
    display: block;
    margin: 0 auto;
}
#main_content_wrap {
    border: 0pt;
}

#header_wrap {
  background: #FFFFFF !important;
  max-width: none !important;
}

