---
---

@import "{{ site.theme }}";

body, h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, Roboto, sans-serif;
}

.announcement {
  font-size: 1.2em;
  border: 2px solid #e75254;
  padding: 10px;
  background-color: white;
}


img {
  position: relative;
  vertical-align: middle;
  margin: 0 auto;
  max-width: 739px;
  padding: 0px;
  margin: 0px;
  border: 0px solid #ffffff;
  box-shadow: 0 0 0px #ffffff;
  -webkit-box-shadow: 0 0 0px #ffffff;
  -moz-box-shadow: 0 0 0px #ffffff;
  -o-box-shadow: 0 0 0px #ffffff;
  -ms-box-shadow: 0 0 0px #ffffff;
}

.menu {
  position: relative;
  margin: 0 auto;
  top: 0px;
  text-align: center;
  font-weight: bold;
  font-size: 100%;
}
.menu a {
-webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-user-drag: none;
  align-items: center;
  backface-visibility: hidden;
  background-color: #606060;
  background-image: none;
  border: 2px solid #606060;
  border-radius: 5px;
  box-shadow: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  font-size: 15px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: 0;
  line-height: 1;
  padding: 11px 26px;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: color .5s, box-shadow undefined, background undefined, border-color undefined undefined undefined;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  margin-bottom: 5px;
}
.menu a:hover {
    background-color: #e75254;
    border: 2px solid #e75254;
}

.menu .special_menu a {
    background-color: #00acd9;
    border: 2px solid #00acd9;
    display: inline-flex;
}

.menu .special_menu a:hover {
    background-color: #e75254;
    border: 2px solid #e75254;
}

#logo img {
    max-width: 640px;
    width: 100%;
    display: block;
    margin: 0 auto;
}
#main_content_wrap {
    border: 0pt;
}

#header_wrap {
  background: #FFFFFF !important;
  max-width: none !important;
}

#header_wrap .inner {
  max-width: none !important;
}

.counter-body {
    font-family: monospace;
    text-align: center;
    padding-top: 50px;
    font-size: 20px;
}
.counter {
    font-size: 48px;
    font-weight: bold;
    padding: 10px;
}

.counter_table.td {
    font-family: monospace;
    text-align: center;
    min-width: 150px;
    border: 1px solid black;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
    background-color: white;
    padding: 10px;
}

.counter_table.tr {
    font-family: monospace;
    text-align: center;
    min-width: 150px;
    border: 1px solid black;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
    background-color: white;
    padding: 10px;
}

.provider_counter {
    color: #ff414d;
}

.database_counter {
    color: #7a2dd0;
}

.structure_counter {
    color: #00acd9;
}
