---
---

@import "{{ site.theme }}";
img {
  position: relative;
  vertical-align: middle;
  margin: 0 auto;
  max-width: 739px;
  padding: 0px;
  margin: 0px;
  border: 0px solid #ffffff;
  box-shadow: 0 0 0px #ffffff;
  -webkit-box-shadow: 0 0 0px #ffffff;
  -moz-box-shadow: 0 0 0px #ffffff;
  -o-box-shadow: 0 0 0px #ffffff;
  -ms-box-shadow: 0 0 0px #ffffff;
}
.menu {
  position: relative;
  margin: 0 auto;
  max-width: 739px;
  top: 0px;
  text-align: center;
  font-weight: bold;
  font-size: 100%;
}
.menu a {
  text-decoration: none;
  vertical-align: middle;
  color: black;
  background-color: white;
  padding: 8px 15px 8px 15px;
}
.menu a:hover {
  background-color: #aabbff;
}
#logo img { 
    width: 98%;
}
#header_wrap .outer div {
  background: #F5F5F5;
  background: -moz-linear-gradient(top, #EBEBEB, #FFFFFF);
  background: -webkit-linear-gradient(top, #EBEBEB, #FFFFFF);
  background: -ms-linear-gradient(top, #EBEBEB, #FFFFFF);
  background: -o-linear-gradient(top, #EBEBEB, #FFFFFF);
  background: linear-gradient(to top, #EBEBEB, #FFFFFF);
  background-image: linear-gradient(to top, #EBEBEB, #FFFFFF);
}
