<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US " }}">

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css' | relative_url }}{{ '?v=' | append: site.github.build_revision }}"> {% seo %}
    <link rel="icon" href="{{ '/assets/images/favicon.png' | relative_url }}">
    {% include head.html %}
</head>

<body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">

            <div id="logo">
              <a href="{{ '/' | relative_url }}"><img src="{{ '/assets/images/optimade-text-right-transparent-bg.png' | relative_url }}"></a>
            </div>
            <br>
            <div class="menu">
                <a href="{{ '/' | relative_url }}">About</a>
                <a href="{{ '/resources' | relative_url }}">Resources</a>
                <a href="{{ '/api-specification' | relative_url }}">API Specification</a>
                <a href="https://www.optimade.org/providers-dashboard/">Dashboard</a>
                <a href="{{ '/#get-involved' | relative_url }}">Community</a>
                <a href="{{ '/contributors' | relative_url }}">Contributors</a>
                <a href="https://github.com/Materials-Consortia/" target="_blank">GitHub</a>
                <a href="https://matsci.org/c/optimade/" target="_blank">Forum</a>
                <span class="special_menu"><a href="{{ '/clients' | relative_url }}">Try It!</a></span>
       	    </div>

        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
        <section id="main_content" class="inner">
            {{ content }}
        </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
        <footer class="inner">
            <div class="footer_links">
                <div class="footer_column">
                    <h4>Use OPTIMADE</h4>
                    <ul>
                        <li><a href="{{ '/clients' | relative_url }}">Clients</a></li>
                        <li><a href="https://www.optimade.org/providers-dashboard/">Providers dashboard</a></li>
                        <li><a href="https://status.optimade.org" target="_blank">Service status</a></li>
                    </ul>
                </div>
                <div class="footer_column">
                    <h4>Build with OPTIMADE</h4>
                    <ul>
                        <li><a href="{{ '/api-specification' | relative_url }}">API specification</a></li>
                        <li><a href="{{ '/resources' | relative_url }}">Resources</a></li>
                        <li><a href="https://github.com/Materials-Consortia/providers" target="_blank">Register your database</a></li>
                    </ul>
                </div>
                <div class="footer_column">
                    <h4>Community</h4>
                    <ul>
                        <li><a href="{{ '/#get-involved' | relative_url }}">Get involved</a></li>
                        <li><a href="{{ '/contributors' | relative_url }}">Contributors</a></li>
                        <li><a href="mailto:dev@optimade.org">dev@optimade.org</a></li>
                    </ul>
                </div>
            </div>
            <p class="footer_credit">Published with <a href="https://pages.github.com">GitHub Pages</a>; maintained by the <a href="https://github.com/Materials-Consortia/">Materials Consortia</a></p>
        </footer>
    </div>

    {% if site.google_analytics %}
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
    {% endif %}
</body>

</html>
